{% extends "_layout.html" %}

{% block title %}
حساب کاربری
{% endblock %}

{% block content %}
 <div class="gymmanager-container">
      <div class="dashboard">
        <div>
          <img src="/static/images/2112_STEPZ_CL-283-min.JPG" alt="profile" />
          <div>ورزشکار</div>
        </div>

        <div>نام:حسین رفیعی</div>
        <div>کدملی : 256487596</div>
        <div>استان: رشت</div>
        <button>خروج از حساب کاربری</button>
      </div>
      <div class="operations">
        <div>
          <h4>خوش آمدید🌹🌹</h4>

          <a href="/account/damage"><div>افزودن آسیب</div></a>
            <div>برنامه ورزشی</div>
            <div>برنامه غذایی</div>
            <div>رزرو</div>
            <div>تغییر اطلاعات شخصی</div>

          <button>خروج</button>
        </div>
        <img src="/static/images/images.jpg" />
      </div>
    </div>
{% endblock %}