
body {
    width: 100%;
    margin: auto;
}

.signup-container {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    flex-wrap: wrap;
    width: 95%;
    gap: 50px;
    margin: auto;
}

.signup-container div {
    display: inline;
    padding: 100px 200px;
    text-align: center;
    /* margin: 30px auto; */
    width: 150px;
    height: 100px;
    background-color: #611717;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

@media (width < 574px) {
    .signup-container div {
        width: 60px;
        padding: 50px 60px;
        font-size: 18px;
    }
}