{% extends "_layout.html" %}

{% block title %}
صفحه اصلی
{% endblock %}

{% block content %}
 <div class="main">
      <div class="content">
        <h2>جیم تایم</h2>
        <h3>ثبت نام و رزرو آنلاین در باشگاه های ورزشی</h3>
        <div>
          <img
            src="/static/images/360_F_651499128_02uzpyQcBI1ypjF9zNaVxgWvf6Jj4DIU.jpg"
          />
        </div>
        <a href="/signup"><button>ثبت نام</button></a>
        <a href="/login"><button>ورود</button></a>
      </div>
    </div>
{% endblock %}