{% extends "_layout.html" %}

{% block title %}
خدمات ما
{% endblock %}

{% block content %}
 <div class="production-container">
      <div class="body-builder">
        <div>
          <img
            src="/static/images/African_american_bodybuilder_tony_pearson_posing.jpg"
          />
          <span>ورزشکار</span>
        </div>
        <ul>
          <li>
            امکان گرفتن برنامه ورزشی شخصی از مربی دلخواه بدون نیاز به مراجعه
            حضوری
          </li>
          <li>دریافت برنامه ورزشی متناسب با هدف و محدودیت های جسمی هر شخص</li>
          <li>امکان آشنایی با باشگاه های مختلف</li>
          <li>ثبت نام در باشگاه دلخواه</li>
          <li>رزرو سانس در باشگاه دلخواه</li>
        </ul>
      </div>
      <div class="coach">
        <div>
          <img src="/static/images/coach.jpg" />
          <span>مربی</span>
        </div>
        <ul>
          <li>امکان افزودن حرکت ورزشی به حرکات موجود در سایت</li>
          <li>امکان نوشتن برنامه ورزشی به صورت آنلاین</li>
          <li>نمایش پروفایل مربیان در سایت</li>
        </ul>
      </div>
      <div></div>
      <div></div>
    </div>
{% endblock %}