 <div dir="rtl" class="footer">
      <div>
        <h4>تماس با ما</h4>
        <div>تلفن : 023</div>
        <div>آدرس: رشت</div>
      </div>
      <div>
        <h4>خدمات ما</h4>
        <div>رژیم غذایی</div>
        <div>برنامه غذایی</div>
      </div>
      <div>
        <h4>باشگاه ها</h4>
        <div>بدنسازی</div>
        <div>ژیمناستیک</div>
      </div>
      <div>
        <h4>شبکه های اجتماعی</h4>
        <div>تلگرام</div>
        <div>اینستاگرام</div>
          <div>واتساپ</div>
      </div>
    </div>