 <div class="container">
      <div class="header">
        <div>
          <img src="/static/images/icons8-ez-curl-bar-30.png" />
          <span>GymTime</span>
        </div>

        <ul>
          <a href="/"><li>صفحه اصلی</li></a>
          <li>باشگاه ها</li>
          <li>ارتباط با ما</li>
          <a href="/product"><li>خدمات ما</li></a>
          <li>داشبورد</li>
        </ul>

        <div id="menu">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div dir="rtl" id="navbar">
        <button id="btn">بستن</button>
        <div>صفحه اصلی</div>
        <div>باشگاه ها</div>
        <div>ارتباط با ما</div>
        <div>خدمات ما</div>
        <div>داشبورد</div>
      </div>
    </div>